.nav-link{
    color: black !important;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-brand{
    padding-left: 200px;
}
h3{
    padding: 100px 500px;
    font-weight: 600;
}
h4{
    padding: 0;
    padding-left: 550px;
    font-weight: 200
}
.col1{
    padding: 50px 100px;
}
h2{
    text-align: center;
}
h6{
    text-align: center;
}
.introl{
    padding-top: 50px;
    padding-bottom: 50px;
}

    